<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Autos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bitcount+Prop+Single:wght@100..900&family=Black+Ops+One&family=Bungee&family=Changa+One:ital@0;1&family=Freeman&family=Momo+Trust+Display&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/Bootstrap/biblioteca bootstrap/css/bootstrap.min.css">
</head>

<body class="bg-dark-subtle">
    <div class="container mt-5">


        <div class="text-center mb-4">
            <h2 class="fw-lighter">Gestión de Vehículos</h2>
        </div>


        <div id="cardAgregar" class="card shadow-sm mb-4 text-bg-dark border-success">

            <div class="card-header bg-success text-white text-center">
                <h5 class="subtitle mb-0">Agregar Vehículo</h5>
            </div>

            <div class="card-body  fs-5">

                <div class="row g-3">

                    <div class="col-md-6 col-lg-3">
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" class="form-control" id="marca" placeholder="Marca">
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" class="form-control" id="modelo" placeholder="Modelo">
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <label for="año" class="form-label">Año</label>
                        <input type="number" class="form-control" id="año" placeholder="Año">
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <label for="patente" class="form-label">Patente</label>
                        <input type="text" class="form-control" id="patente" placeholder="Patente">
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <label for="kilometros" class="form-label">Kilometros</label>
                        <input type="number" class="form-control" id="kilometros" placeholder="Kilometros">
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <label for="fechaIngreso" class="form-label">Fecha de Ingreso</label>
                        <input type="date" class="form-control" id="fechaIngreso" placeholder="Fecha de Ingreso">
                    </div>

                </div>

                <div class="mt-4 text-end">
                    <button type="button" class="btn btn-warning" onclick="agregarAuto()">
                        <i class="bi bi-plus-circle"></i>
                        Agregar vehiculo
                    </button>
                </div>

            </div>
        </div>

<!-- //modal editar -->
        <div class="modal fade" tabindex="-1" id="modalEditar">
            <div class="modal-dialog">
                <div class="modal-content bg-light">
                    <div class="modal-header text-bg-dark" data-bs-theme="dark">
                        <h5 class="modal-title">DATOS A CAMBIAR</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-dark-subtle fw-bold">
                        <div class="row ">
                            <div class="col-md-6">
                                <p>ID del auto: <span id="idEditar"></span></p>
                            </div>

                            <div class="col-md-6">
                                <label for="marcaEditar" class="form-label m-2">Marca</label>
                                <input type="text" class="form-control" id="marcaEditar" placeholder="Marca">
                            </div>

                            <div class="col-md-6">
                                <label for="modeloEditar" class="form-label m-2">Modelo</label>
                                <input type="text" class="form-control" id="modeloEditar" placeholder="Modelo">
                            </div>

                            <div class="col-md-6">
                                <label for="añoEditar" class="form-label m-2">Año</label>
                                <input type="number" class="form-control" id="añoEditar" placeholder="Año">
                            </div>

                            <div class="col-md-6">
                                <label for="patenteEditar" class="form-label m-2">Patente</label>
                                <input type="text" class="form-control" id="patenteEditar" placeholder="Patente">
                            </div>

                            <div class="col-md-6">
                                <label for="kilometrosEditar" class="form-label m-2">Kilometros</label>
                                <input type="number" class="form-control" id="kilometrosEditar" placeholder="Kilometros">
                            </div>

                            <div class="col-md-6">
                                <label for="fechaIngresoEditar" class="form-label m-2">Fecha de Ingreso</label>
                                <input type="date" class="form-control" id="fechaIngresoEditar">
                            </div>

                            <div class="col-md-6">
                                <label class="form-label m-2">¿Sigue disponible?</label>
                                <div class="d-flex gap-3">
                                    <div class="form-check">
                                        <input class="btn-check" type="radio" name="disponible" id="disponible-si" value="true">
                                        <label class="btn btn-outline-dark" for="disponible-si">Sí</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="btn-check" type="radio" name="disponible" id="disponible-no" value="false">
                                        <label class="btn btn-outline-dark" for="disponible-no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer bg-dark-subtle">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="editarAuto()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Tabla -->
        <div class="card shadow-sm text-bg-dark border-primary">

            <div class="card-header text-bg-primary text-center">
                <h5 class="subtitle mb-0">Listado de Vehículos</h5>
            </div>

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover align-middle table-striped">

                        <thead class="table-dark ">
                            <tr>
                                <th class="fw-lighter">Marca</th>
                                <th class="fw-lighter">Modelo</th>
                                <th class="fw-lighter">Año</th>
                                <th class="fw-lighter">Patente</th>
                                <th class="fw-lighter">Kilometros</th>
                                <th class="fw-lighter">Fecha Ingreso</th>
                                <th class="fw-lighter">Disponible</th>
                            </tr>
                        </thead>

                        <tbody id="tablaAuto" class="table-secondary">
                        </tbody>

                    </table>

                </div>

            </div>
        </div>

    </div>

    <script src="/Bootstrap/biblioteca bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/auto1.0.0.js"></script>
</body>

</html>