h2 {
    font-family: "Changa One", sans-serif;

    font-style: italic;

    letter-spacing: 2px;
    font-weight: bold;
}

.card {
    font-family: "Momo Trust Display", sans-serif;
    letter-spacing: 1px;
}

.subtitle {
    letter-spacing: 1px;
}

.modal-content {
    font-family: "Momo Trust Display", sans-serif;
    letter-spacing: 1px;
}

.card-body th {
    letter-spacing: 1px;
}

#tablaAuto {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 390px) {
    #cardAgregar .subtitle {
        font-size:large;
    }

    #cardAgregar .col-md-6 {
        margin-top: 0rem;
    }

    #cardAgregar label {
        font-size: small;
    }

    #cardAgregar input {
        height: 45%;
    }

    #cardAgregar input::placeholder {
        font-size: small;
    }

}