h2 {
    font-family: "Changa One", sans-serif;

    font-style: italic;

    letter-spacing: 2px;
    font-weight: bold;
}

.card {
    font-family: "Momo Trust Display", sans-serif;
    letter-spacing: 1px;
}

.subtitle {
    letter-spacing: 1px;
}

.modal-content {
    font-family: "Momo Trust Display", sans-serif;
    letter-spacing: 1px;
}

.card-body th {
    letter-spacing: 1px;
}

#tablaAuto {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {

    /* CARD PRINCIPAL ------- */

    #cardAgregar {

    }

    #cardAgregar .card-body {
        margin-top: 1rem;
    }

    #cardAgregar .subtitle {
        font-size:large;
    }

    #cardAgregar .col-md-6 {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cardAgregar label {
        font-size: medium;
    }

    #cardAgregar input {
        height: 45%;
        width: 85%;
    }

    #cardAgregar input::placeholder {
        font-size: medium;
    }

    #cardAgregar .text-end {
        display: flex;
        justify-content: center;
    }

    #cardAgregar button {
        margin-bottom: 1rem;
    }

    /* MODAL ------------------ */

    #modalEditar .modal-title {
        font-size:large;
    }

    #modalEditar .col-md-6 {
        margin-top: -0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #modalEditar label{
        font-size: medium;
    }

    #modalEditar input {

        font-size: medium;
        height: 45%;
        width: 85%;
    }

    #modalEditar .form-check {
        padding-left: 0rem;
    }

    #modalEditar .modal-footer {
        padding-top: 0rem;
        display: flex;
        justify-content: center;
    }

    /* TABLA ------------ */

    #tabla .subtitle {
        font-size:large;
    }

    th {
        font-size: medium;
    }

    #tablaAuto td {
        font-size: medium;
    }

}