h2 {
    font-family: "Changa One", sans-serif;
  
    font-style: italic;

    letter-spacing: 2px;
    font-weight: bold;
}

.card {
    font-family: "Momo Trust Display", sans-serif;
    letter-spacing: 1px;
}

.subtitle {
    letter-spacing: 1px;
}

.modal-content {
    font-family: "Momo Trust Display", sans-serif;
    letter-spacing: 1px;
}

#tablaAuto {
    font-family: Arial, Helvetica, sans-serif;
}
